.link {
  text-decoration: none;
}

.preview {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;

  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(54, 101, 202, 0.5)),
    to(rgba(75, 86, 185, 0.85))
  );
}

.image {
  width: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.title {
  color: white;
  padding: 6px;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
